{% block content  %}
    <div class="transition twit-block pt-3" id="twit-id-{{ twit.id }}">
        <div class="mx-3 row d-flex">

            {% include 'shared/user_image.html' with user=comment.user size=49 %}

            <div class="px-1 flex-grow-1">
                <div class="row d-flex">
                    <div class="flex-grow-1 pl-3">
                        {% include 'shared/title_link.html' with author=comment.user mark_name=comment.mark_name load_link=comment.load_link creation_date=comment.get_time_diff %}

                        <div class="px-3 my-3">
                            {% include 'list_templates/twit/twit_content.html' with twit=comment %}
                        </div>
                    </div>
                </div>

                <div class="row  pl-5">
                    {% include 'shared/../create_template/like.html' with data=comment liked=comment.is_liked model='comment' %}
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}